

body, html {
    background-color: #8F9779;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    height: 70px;
    padding: 0 30px;
    background-color: #8F9779;   
    padding-bottom: 10px;
}

.herobutton {
    background-color: #556B2F;
    border: none;
    color: white;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}


.navbar h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
}
    
.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 9px;
    margin: 0 10px
}


.container {
    margin: 0 auto;
    max-width: 1000px;

} 
    
.info__container h2 {
    text-align: center;
    padding: 30px;



}



li {
    list-style-type: none;
}

.hero__section {
    padding: 10px
}

.hero__text p {
    font-size: 16px;
    font-weight: 200;
}


.hero {
    display: flex;
    background-color: #8F9779;
    margin: auto;
    margin: 0 auto;
    max-width: 1000px;   
    align-items: center; 
    padding-bottom: 50px;
    flex-grow: 0;
}

a {
    color: black;
    text-decoration: none;
}


.hero__text {
    font-size: 1.4rem;
    text-align: left;
    color: black;
    max-width: 300px;
    margin-right: auto;
    font-weight: 700;
;
}
    

.hero img {
    max-width: 100%;
    height: 20vh;
}


.info__images {
    display: flex;
    border-width: 1rem;
    justify-content: center;
    gap: 40px;
    flex-grow: 0;
    
}

sub {
    text-align: center;
}

.info__images li img {
    max-width: 100%;
    border-radius: 1rem;
    object-fit: fill;
    height: 18vh;
    vertical-align: middle;
}

.info__images > li {
    flex-basis: 150px;
}

.info__section {
    background-color: white;
    display: flex;
    
}

.info__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
}

.testimonial {
    display: flex;
    justify-content: center;
    padding: 60px;
    flex-wrap: wrap;
    flex-shrink: 1;
    padding-bottom: 5px;
    background-color: whitesmoke;
}

.quote {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
}

.quote em{
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 0;
}

.albert {
    margin-left: auto;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    display: flex;
    justify-content: end;
    margin-top: 0;
}

.cta {
    display: flex;
    background-color: white;
}

.sign-up {
    padding: 20px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: flex;
    background-color: #556B2F;
    flex-basis: 65%;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.cta p {
    display: flex;
    color: white;
}

.bold {
    font-weight: 500;
    margin-bottom: 0;

}

.smol {
    font-size: 12px;
    margin-top: 0;
    font-weight: lighter;
}

.ctabutton {
    background-color: transparent;
    border: 2px solid white;
    border-color: white;
    color: white;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

footer {
    display: table;
    text-align: center;
    margin: auto;
    color: white;
    padding: 3px
}
footer p {
    font-size: 12px;
    padding: 10px;